[Unit]
Description=Setup overpass database on firstboot
ConditionPathExists=!{{ overpass_database_dir }}/replicate_id

[Service]
Type=oneshot
User={{ overpass_user }}
ExecStart=/usr/local/bin/overpass-setup.py
ExecStartPost=+/bin/systemctl restart overpass-dispatcher.service
ExecStartPost=+/bin/systemctl restart overpass-copy-id.service
ExecStartPost=/bin/sleep 5
ExecStartPost=+/bin/systemctl restart overpass-diff-downloader.service
ExecStartPost=+/bin/systemctl restart overpass-diff-applier.service
ExecStartPost=+/bin/systemctl restart overpass-areas-dispatcher.service
ExecStartPost=+/bin/systemctl restart overpass-areas-builder.service
ExecStartPost=/usr/local/bin/dispatcher --rate-limit=32
ExecStartPost=-+/bin/systemctl restart telegraf.service

[Install]
WantedBy=multi-user.target
